/* #banner .title {
    color: #d1ff48;
    font-size: 11em;
    font-family: "devil breeze";
    font-weight: bold;
    position: relative;
    text-align: center;
}

#banner .title::before {
    content: attr(data-before);
    position: absolute;
    top: 0.5em;
    inset: 0.66em 0 0 0;
    z-index: -1;
    color: #445022;
}

@media screen and (max-width: 1023px) {
    #banner .title {
        font-size: 5em;
    }
}

@media screen and (max-width: 767px) {
    #banner .title {
        font-size: 3em;
    }
} */

/* @keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease forwards;
  animation-play-state: running;
}

.masker {
  overflow: hidden;
} */